{% extends 'DocOc/base.html' %} {% block pagecontent %} {% include "DocOC/header.html" %}
<style>
    .bgimg {
        background: linear-gradient( rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)),
        url("static/antibio.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="container" style="margin-top: 10vh;">

    <div class="col-12 bgimg p-4">
        <div class="col-12 px-0 text-white">
            <h1 class="display-4 font-italic text-center">Taking your antibiotics correctly </h1>
            <p class="lead my-3">Taking your antibiotics correctly as described by your doctor is very important for your and others' wellbeing.
                Read the below article for more information on why taking your antibiotics matters.
            </p>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Send to email</button>
            </div>
        </div>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-12 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">The correct use of antibiotics</h2>
                    <p class="blog-post-meta">January 1, 2014 by
                        <a href="https://www.cdc.gov/">CDC</a>
                    </p>

                    <p>Antibiotics are medications used to fight infections caused by bacteria. They’re also called antibacterials. They treat infections by killing or decreasing the growth of bacteria.</p>
                    <hr>
                    <p>The first modern-day antibiotic was used in 1936. Before antibiotics, 30 percent of all deaths were caused by bacterial infections. Thanks to antibiotics, previously fatal infections are curable.

                            Today, antibiotics are still powerful, life-saving medications for people with certain serious infections. They can also prevent less-serious infections from becoming serious.
                            
                            There are many classes of antibiotics. Certain types of antibiotics work best for specific types of bacterial infections.</p>
                    <blockquote>
                        <p>Antibiotics fight bacterial infections either by killing bacteria or slowing and suspending its growth. </p>
                    </blockquote>
                    <p>Antibiotics begin to work right after you start taking them. However, you might not feel better for two to three days.

                            How quickly you get better after antibiotic treatment varies. It also depends on the type of infection you’re treating.
                            
                            Most antibiotics should be taken for 7 to 14 days. In some cases, shorter treatments work just as well. Your doctor will decide the best length of treatment and correct antibiotic type for you.</p>
                    <h2>What is antibiotic resistance?</h2>
                    <p>Antibiotics are powerful medications that work very well for certain types of illnesses. However, some antibiotics are now less useful than they once were due to an increase in antibiotic resistance.

                            Antibiotic resistance occurs when bacteria can no longer be controlled or killed by certain antibiotics. In some cases, this can mean there are no effective treatments for certain conditions.</p>
                    <h3>What are antibiotics used to treat?</h3>
                    <p>Antibiotics are used for treating infections caused by bacteria. Sometimes it’s difficult to determine if your infection is caused by bacteria or a virus because the symptoms are often very similar.</p>
                
                </div>
                <!-- /.blog-post -->

                <!-- /.blog-post -->

            </div>
            <!-- /.blog-main -->

        </div>
        <!-- /.row -->

    </main>
    <!-- /.container -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sending Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/sendMail" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="emailEntry">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
