{% extends 'DocOc/base.html' %} {% block pagecontent %} {% include "DocOC/header.html" %}
<style>
    .bgimg {
        background: linear-gradient( rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)),
        url("static/antibio.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="container" style="margin-top: 10vh;">

    <div class="col-12 bgimg p-4">
        <div class="col-12 px-0 text-white">
            <h1 class="display-4 font-italic text-center">Why you didn't need antibiotics today </h1>
            <p class="lead my-3">Taking antibiotics can cause symptoms in your body that you may not desire. Taking them when you don't need them can also lead to 
                resistence in bacteria, which makes them less effective in the future. So only using them when you should is important. Read on for why you didn't get any today.
            </p>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Send to email</button>
            </div>
        </div>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-12 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">The importance of responsible antibiotic use</h2>
                    <p class="blog-post-meta">January 1, 2014 by
                        <a href="https://www.cdc.gov/">CDC</a>
                    </p>

                    <p>Antibiotics only cure certain infections due to bacteria -- and if taken carelessly, you may get more serious health problems than you bargained for.
                        As with any illness, it is critical to address the underlying cause, whether it's bacterial or viral. Antibiotics will not kill cold or flu viruses.</p>
                    <hr>
                    <p>Most common infections are caused by viruses. Antibiotics do not work against viruses. Most viral illnesses get better themselves without antibiotics. The table below helps you to know when you're likely to need an antibiotic - and when you aren't.</p>
                    <blockquote>
                        <p>Most common infections are caused by viruses. This includes all
                                colds, most coughs, sore throats, ear infections and diarrhoea.
                                Antibiotics do not work against these infections. Most of these
                                illnesses get better themselves without antibiotics.
                            </p>
                    </blockquote>
                    <p>
                        <em>As well as putting yourself, or your child, at risk of an infection
                                that can’t be treated, taking antibiotics when they are not needed
                                puts you at risk of side effects. About one in five people who take
                                antibiotics develop side effects, such as a rash, upset stomach
                                or diarrhoea.</p>
                    <h2>Should I Avoid Antibiotics Altogether?</h2>
                    <p>Not at all. Antibiotics can save people's lives, and if you need them, you should get them as quickly as you can. Since only a doctor can prescribe antibiotics, this means that you should talk to your doctor if you think you might need them (as opposed to taking your friend's leftover antibiotics from last winter's illness, for example).

                            However, it is the grave over-reliance and inappropriate use of antibiotics that have contributed to the global antibiotic resistance crisis that we face.
                            
                            
                            A study by the CDC showed that many adults believe that if they are sick enough to see a doctor for a cold, they should get an antibiotic treatment. The study also showed that patients are not aware of the consequences of taking the drugs if they are not needed. And when antibiotics are misused, bacteria can become resistant.</p>
                    
                <!-- /.blog-post -->

            </div>
            <!-- /.blog-main -->

        </div>
        <!-- /.row -->

    </main>
    <!-- /.container -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sending Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/sendMail" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="emailEntry">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
