 {% extends 'DocOc/base.html' %} {% block pagecontent %} {% include "DocOC/header.html" %}
<div class="jumbotron d-flex align-items-end justify-content-center bg-white pb-0 mb-0" style="height:50vh;">
    <div class="jumbotron">
        <form method="post" enctype="multipart/form-data" action="/upload">
            <div class="form-group">
                <label for="fileup">
                    <h4>Upload Data File : </h4>
                </label>
                <input id="fileup" type="file" name="myfile">
            </div>
            <div class="container d-flex align-items-center justify-content-center">
                <button class="btn btn-primary btn-lg" type="submit">Upload</button>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center col-3 text-center">
    <p>*Please upload your details in the form of a CSV file corresponding to Microarray Expression data</p>
</div>

{% include "DocOC/footer.html" %} {% endblock %}