<div class="container">
        <div class="justify-content-between m-1" style="padding-top: 18vh;">
                <a class="btn btn-dark col-2 landingBtn m-3 py-3" href="/entry" role="button" style="font-size: 100%;">Analyze</a>                
                <a class="btn btn-dark col-2 landingBtn m-3 py-3" href="#" role="button" style="font-size: 100%;">Prescription Tracking</a>     
                <a class="btn btn-dark col-2 landingBtn m-3 py-3" href="#" role="button" style="font-size: 100%;">Patient Awareness</a>                                                       
                <a class="btn btn-dark col-2 landingBtn m-3 py-3" href="#" role="button" style="font-size: 100%;">Forums</a>
                <a class="btn btn-dark col-2 landingBtn m-3 py-3" href="#" role="button" style="font-size: 100%;">About</a>                                
          </div>
  </div>
  