<div id="heatmap_g" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>

<script>
Highcharts.chart('heatmap_g', {
chart: {
    type: 'heatmap',
    marginTop: 40,
    marginBottom: 80,
    plotBorderWidth: 1,
    
},
title: {
    text: 'Normalized Gene expression for bacterial, viral and patient samples'
},
xAxis: {
        tickInterval: 1,
        min: 0
    },
    yAxis: {
        min:0,
        labels: {
            rotation: 45
        },
        categories: [
          
        {
        name: "Viral",
        categories: ["v1", "v2", "v3","v4","v5"],
        },  {
        name: "Bacteria ",
        categories: ["b1", "b2", "b3","b4","b5"]
        },
        
        {
        name: "Patient",
        categories: ["p1"]
        },
        ]
    },
colorAxis: {
        min: -0.25,
        max: 1,
        minColor: '#ffffff',
        maxColor: '##032F64',
        gridLineColor: '#000000',
        stops: [
            [0, '#ffffff'],
            [0.5, '#7AD6F4'],
            [1, '#032F64']
        ],
    },
legend: {
    align: 'right',
    layout: 'vertical',
    margin: 0,
    verticalAlign: 'top',
    y: 25,
    symbolHeight: 280
},
tooltip: {
    enabled:false,
    formatter: function () {
        return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> sold <br><b>' +
            this.point.value + '</b> items on <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
    }
},
series: [{
    name: '',
    borderWidth: 1,   
    data:{{ heatmap_data }}, 
}],
});</script>