
{% extends 'DocOc/base.html' %}

{% block pagecontent %}

<link href="static/index.css" rel="stylesheet">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first font-italic p-2">
        Antibiotic awareness system
      </div>
  
      <!-- Login Form -->
      <form action="/dashboard" method="post">
        <input type="text" id="login_email" class="fadeIn second" name="login_email" placeholder="dococ@doc.org">
        <input type="password" id="pass" class="fadeIn third" name="login_pass" value="dococisawesome">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Create Account</a>
      </div>
  
    </div>
  </div>
  {% endblock %}


