
<div id="scatterplot" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
   
<script>
        Highcharts.chart('scatterplot', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'PCA and t-SNE Results'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: 'Component 1'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Component 2'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                borderWidth: 1
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x}, {point.y}'
                    }
                }
            },
            series: [{
                name: 'Bacetria',
                color: 'rgba(223, 83, 83, .5)',
                data: {{x_scatter_data}},
            }, {
                name: 'Viral',
                color: 'rgba(119, 152, 191, .5)',
                data: {{y_scatter_data}},
            },
            {
                name: 'Patient',
                color: 'rgba(0, 0, 0, .5)',
                data: {{z_scatter_data}},
            },]
        });
        
        </script>