{% extends 'DocOc/base.html' %} {% block pagecontent %} {% include "DocOC/header.html" %}

<div class="container-fluid d-flex justify-content-around" style="margin-top: 10vh;">
    <div class="row col-10 d-flex justify-content-between">
        <div class="jumbotron d-flex justify-content-center col-6 py-0 px-3 bg-white">
            <div class="card col-12">
                <div class="card-body text-center">
                    <h5 class="card-title">Predicted Result</h5>
                    {% if result == '1' %}
                    <h6 class="card-subtitle mb-2 text-muted" style="font-size: 30px">VIRAL</h6>
                    <p class="card-text">The patient has a viral infection. No medication is required at this point in time.</p>
                    <a href="https://www.fda.gov/Drugs/ResourcesForYou/SpecialFeatures/ucm485545.htm" class="card-link"><font color="red">View dose requirements</font></a>
                    <a href="/breakdownViral" class="card-link">Medicine Description</a>
                    {% else %}
                    <h6 class="card-subtitle mb-2 text-muted"style="font-size: 30px;"><font color="red">BACTERIAL</font></h6>
                    <p class="card-text">The patient has a bacterial infection. Please advise the patient on the correct dosage and dose window.</p>
                    <a href="https://www.fda.gov/Drugs/ResourcesForYou/SpecialFeatures/ucm485545.htm" class="card-link">View dose requirements</a>
                    <a href="/breakdown" class="card-link">Medicine Description</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="jumbotron col-6 py-0 px-3 bg-white" style="border-left: 2px solid black; border-radius: 0%">
            <div class="card col-12">
                <div class="card-body text-center">
                    <h5 class="card-title">Enriched Gene Sets</h5>
                    <ul class="text-left">
                        <li><a class="card-text mb-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{geneData.1.0}}</a>
                            <div class="collapse" id="collapseExample">
                                    <p class="card-text small p-0 mt-1 mb-0">{{geneData.1.1}}</p>
                                    <p class="card-text p-0 mt-1">P-value: {{geneData.1.2}}</p>
                            </div>
                        </li>
                        <li><a class="card-text mb-0" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">{{geneData.2.0}}</a>
                            <div class="collapse" id="collapseExample1">
                                    <p class="card-text small p-0 mt-1 mb-0">{{geneData.2.1}}</p>
                                    <p class="card-text p-0 mt-1">P-value: {{geneData.2.2}}</p>
                            </div>
                        </li>
                        <li><a class="card-text mb-0" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">{{geneData.3.0}}</a>
                            <div class="collapse" id="collapseExample2">
                                    <p class="card-text small p-0 mt-1 mb-0">{{geneData.3.1}}</p>
                                    <p class="card-text p-0 mt-1">P-value: {{geneData.3.2}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
    <p class="display-3">Visual Interpretation and Analysis</p>
</div>
<div class="container-fluid d-flex justify-content-around" style="margin-top: 4vh;">
    <div class="row col-10 d-flex justify-content-between">
        <div class="col-6 jumbotron py-0 px-2 bg-white border border-black">
            {% include "DocOC/scatterplot.html" %}
        </div>
        <div class="col-6 jumbotron py-0 px-2 bg-white">
                {% include "DocOC/heatmap.html" %}
        </div>
    </div>
</div>

<a href="/breakdown">Explanation</a>
{% include "DocOC/footer.html" %} {% endblock %}